<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
</head>
<body>
  <div>
    <h1>{{pageTitle}}</h1>
{{!-- Add content for the homepage here --}}
  </div>
{{!-- Add your additional script includes here if needed --}}
</body>
</html>
