<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - MyFriends</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Register - MyFriends</h3>
                    </div>
                    <div class="card-body">
                        <form action="/signup" method="post" id="signup-form">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" required>

                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required>

                            <button type="submit" class="btn btn-success btn-block">Sign Up</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <p>Already have an account? <a href="/login">Login here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="..\public\sign-up.js"></script>
</body>

</html>
