body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(2, 8, 14);
}

.navbar {
    background-color: #343a40;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.container-fluid {
    padding: 0 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

